// ==================
// GLOBAL
// ==================

// ------------------
// Global
// ------------------

* {
	box-sizing: border-box;
}

// ------------------
// Body
// ------------------

body {
	margin: 0;
}

// ------------------
// Images
// ------------------

img {
	width: 100%;
	display: block;
}

.brand-img {
	width: 150px;

	@include breakpoint(large) {
		margin: 0 auto;
		padding-bottom: 20px;
	}

}

// ------------------
// Links
// ------------------

a {
	color: $color-alpha;
}
