// ==================
// GRID
// ==================

// ------------------
// One Whole
// ------------------

.grid-one-whole   { width: 100%;   }
.grid-one-half    { width: 50%;    }
.grid-one-third   { width: 33.33%; }
.grid-two-thirds  { width: 66.66%; }
.grid-one-quarter { width: 25%;    }

// ------------------
// Tenths
// ------------------

.grid-one-tenth    { width: 10%; }
.grid-two-tenths   { width: 20%; }
.grid-three-tenths { width: 30%; }
.grid-four-tenths  { width: 40%; }
.grid-six-tenths   { width: 60%; }
.grid-seven-tenths { width: 70%; }
.grid-eight-tenths { width: 80%; }
.grid-nine-tenths  { width: 90%; }

// ------------------
// Flexible Grid
// ------------------

.grid-one-quarter--break {
	@extend .grid-one-quarter;

	@include breakpoint(small) {
		width: 100% !important;
		display: block;

		&:last-child {
			padding-bottom: 0;
		}

	}

	@include breakpoint(medium) {
		width: 50%;
		padding-bottom: 40px;
	}

}

.grid-one-half--break {
	@extend .grid-one-half;

	@include breakpoint(large) {
		padding-bottom: 40px;
		width: 100% !important;

		&:last-of-type {
			padding-bottom: 0;
		}

	}

}

.grid-three-tenths--break {
	@extend .grid-three-tenths;

	@include breakpoint(large) {
		width: 100% !important;
	}

}

.grid-seven-tenths--break {
	@extend .grid-seven-tenths;

	@include breakpoint(large) {
		width: 100% !important;
	}

}
