// ==================
// HELPER
// ==================

// ------------------
// Clearfix
// ------------------

%clearfix:before,
%clearfix:after {
    content: " ";
    display: table;
}

%clearfix:after {
    clear: both;
}

%clearfix {
    *zoom: 1;
}

// ------------------
// Floats
// ------------------

.left {
	float: left;
}

.right {
	float: right;
}

// ------------------
// Alignment
// ------------------

.text-center {
	text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

// Breakpoint alignment

.align-break {

  @include breakpoint(large) {
    width: 100%;
    text-align: center;
    float: none;
  }

}

// Vertical alignment

.align-flex {
  display: flex;
  align-items: center;
}

.align-flex--center {
  @extend .align-flex;
  justify-content: center;
}

.align-flex--break {
  @extend .align-flex--center;

  @include breakpoint(large) {
    display: block;
  }

}

.align-flex__item {
  max-width: 70%;
}

.align-flex__item--whole {
  max-width: 100%;
}

.align-flex__item--break {
  @extend .align-flex__item;

  @include breakpoint(large) {
    max-width: 100% !important;
  }

}

// ------------------
// Spacing
// ------------------

.spacing-alpha {
  padding-bottom: 20px !important;
}

.spacing-bravo {
  padding-bottom: 40px !important;
}

.spacing-charlie {
  padding-bottom: 60px !important;
}

.spacing-delta {
  padding: 60px 0 !important;
}

.spacing-echo {
  margin-right: 20px !important;
}

.spacing-right {
  padding-right: 20px !important;
}

// ------------------
// Typography
// ------------------


.text-light {
	color: $color-delta !important;
}

.text-mid {
  color: darken($color-echo, 20%) !important;
}

.text-overlay {
    position: relative;
    z-index: 2;
    color: $color-delta;
}

// ------------------
// Borders
// ------------------

.border-alpha {
  border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.border-bravo {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.border-charlie {
  border-right: 1px solid rgba(0, 0, 0, .1);
}

.heading-underline {

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 48.6%;
    height: 1px;
    width: 3%;
    // background: rgba(0, 0, 0, .3);
    background: $color-bravo;
  }

}
