// ==================
// TYPOGRAPHY
// ==================

// ------------------
// fonts
// ------------------

// Icon

@font-face {
	font-family: 'refresh-teesside';
	src:url('/assets/icon/refresh-teesside.eot?932tgn');
	src:url('/assets/icon/refresh-teesside.eot?#iefix932tgn') format('embedded-opentype'),
			url('/assets/icon/refresh-teesside.woff?932tgn') format('woff'),
			url('/assets/icon/refresh-teesside.ttf?932tgn') format('truetype'),
			url('/assets/icon/refresh-teesside.svg?932tgn#refresh-teesside') format('svg');
	font-weight: normal;
	font-style: normal;
}

// ------------------
// Base
// ------------------

body {
	font-family: $font-family-delta;
}

// ------------------
// Headings
// ------------------

%heading {
	margin: 0;
	position: relative;
}

// V2

.heading--one {
	@extend %heading;
	font-size: 2.2rem;
	line-height: 1.5rem;
	padding-bottom: calc-em(10, 20);
}

.heading--two {
	@extend %heading;
	font-size: 1.2rem;
	line-height: 1.5rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding-bottom: calc-em(10, 16);
}

.heading--three {
	@extend %heading;
	font-size: 1.2rem;
	line-height: 1.7rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 300;
}

.heading--four {
	@extend .heading--one;
	font-weight: 400;
	line-height: calc-em(25, 20);
	color: $color-alpha;
}

.heading--five {
	@extend .heading--three;
	@include calc-rem("font-size", 50px);
	color: $color-alpha;
}

// ------------------
// Copy
// ------------------

// Copy Alpha

.copy--alpha {
	@include calc-rem("font-size", 18px);
	font-weight: 200;
	line-height: calc-em(32, 16);
	max-width: 75%;
	margin: 0 auto;
}

// Copy Bravo

.copy--bravo {
	@extend .copy--alpha;
	font-style: oblique;
	line-height: calc-em(28, 18);
	text-align: left;
	max-width: 100%;
	margin-bottom: calc-em(10, 18);
}

// ------------------
// Anchors
// ------------------

a {
	text-decoration: none;
	font-weight: 200;

	&:hover {
		border-bottom: 1px solid #444;
	}

}
