<!-- hero block -->
<section class="site-hero wrapper wrapper--site-hero">

	<a href="#" class="event-intro__nav event-intro__nav--prev">Previous</a>
	<a href="#" class="event-intro__nav event-intro__nav--next">Next</a>

	<div class="wrapper-inner">

		<!-- event block -->
		<div class="event-intro">

			<h1 class="event__title event__title--center">hello</h1>
				<h2 class="event-intro__date"></h2>
					<div class="event-intro__register">
						<a href="#" class="btn btn--center">Register Free Now</a>
					</div>

					<!-- event speakers -->
					<div class="event-intro__speakers">
						<ul class="event-intro__speakers__list">

								<li class="event-intro__speakers__item">
									<a href="#">
										<img src="http://placehold.it/200x200" alt="Speaker Image" class="event-intro__speakers__photo">
										<h2 class="event-inotr__speakers__name"></h2>
									</a>
								</li>

						</ul>
					</div>
					<!-- /event speakers -->

		</div>
		<!-- /event block -->

	</div>
</section>
<!-- /hero block -->

<!-- summary block -->
<section class="event-summary wrapper">
	<div class="wrapper-inner">
		<h1 class="event__title">Event Summary</h1>

			<div class="grid-wrapper">
				<div class="grid grid--three">
					<p>Cras mattis consectetur purus sit amet fermentum. Donec id elit non mi porta gravida at eget metus. Donec ullamcorper nulla non metus auctor fringilla. Curabitur blandit tempus porttitor. Curabitur blandit tempus porttitor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Sed posuere consectetur est at lobortis.</p>
					<p>Maecenas faucibus mollis interdum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum.</p>
				</div>
				<div class="grid grid--one event-summary__schedule">
					<h2 class="event-summary__sub-title">Schedule</h2>
						<ol class="event-summary__schedule-list">
							<li>Registration</li>
							<li>Speakers</li>
							<li>Food</li>
							<li>Networking</li>
							<li>Close</li>
						</ol>
				</div>
			</div>

			<div class="grid-wrapper">
				<div class="grid grid--four wrapper wrapper--attendees">
					<h2 class="event-summary__sub-title">Attendees</h2>
						<div class="event-summary__attendee-list">
							<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/paul_irish_128.jpg" alt="Attendee" class="attendees__avatar__image" />
							</a>
							<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/gilbertglee_128.jpg" alt="Attendee" class="attendees__avatar__image" />
							</a>
							<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/jayman_128.jpg" alt="Attendee" class="attendees__avatar__image" />
							</a>
							<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/walterstephanie_128.jpg" alt="Attendee" class="attendees__avatar__image" />
							</a>
							<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/motherfuton_128.jpg" alt="Attendee" class="attendees__avatar__image" />
							</a>
							<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/cameronmoll_128.jpg" alt="Attendee" class="attendees__avatar__image" />
								<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/paul_irish_128.jpg" alt="Attendee" class="attendees__avatar__image" />
							</a>
							<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/gilbertglee_128.jpg" alt="Attendee" class="attendees__avatar__image" />
							</a>
							<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/jayman_128.jpg" alt="Attendee" class="attendees__avatar__image" />
							</a>
							<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/walterstephanie_128.jpg" alt="Attendee" class="attendees__avatar__image" />
							</a>
							<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/motherfuton_128.jpg" alt="Attendee" class="attendees__avatar__image" />
							</a>
							<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/cameronmoll_128.jpg" alt="Attendee" class="attendees__avatar__image" />
								<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/paul_irish_128.jpg" alt="Attendee" class="attendees__avatar__image" />
							</a>
							<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/gilbertglee_128.jpg" alt="Attendee" class="attendees__avatar__image" />
							</a>
							<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/jayman_128.jpg" alt="Attendee" class="attendees__avatar__image" />
							</a>
							<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/walterstephanie_128.jpg" alt="Attendee" class="attendees__avatar__image" />
							</a>
							<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/motherfuton_128.jpg" alt="Attendee" class="attendees__avatar__image" />
							</a>
							<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/cameronmoll_128.jpg" alt="Attendee" class="attendees__avatar__image" />
								<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/paul_irish_128.jpg" alt="Attendee" class="attendees__avatar__image" />
							</a>
							<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/gilbertglee_128.jpg" alt="Attendee" class="attendees__avatar__image" />
							</a>
							<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/jayman_128.jpg" alt="Attendee" class="attendees__avatar__image" />
							</a>
							<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/walterstephanie_128.jpg" alt="Attendee" class="attendees__avatar__image" />
							</a>
							<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/motherfuton_128.jpg" alt="Attendee" class="attendees__avatar__image" />
							</a>
							<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/cameronmoll_128.jpg" alt="Attendee" class="attendees__avatar__image" />
								<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/paul_irish_128.jpg" alt="Attendee" class="attendees__avatar__image" />
							</a>
							<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/gilbertglee_128.jpg" alt="Attendee" class="attendees__avatar__image" />
							</a>
							<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/jayman_128.jpg" alt="Attendee" class="attendees__avatar__image" />
							</a>
							<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/walterstephanie_128.jpg" alt="Attendee" class="attendees__avatar__image" />
							</a>
							<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/motherfuton_128.jpg" alt="Attendee" class="attendees__avatar__image" />
							</a>
							<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/cameronmoll_128.jpg" alt="Attendee" class="attendees__avatar__image" />
								<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/paul_irish_128.jpg" alt="Attendee" class="attendees__avatar__image" />
							</a>
							<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/gilbertglee_128.jpg" alt="Attendee" class="attendees__avatar__image" />
							</a>
							<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/jayman_128.jpg" alt="Attendee" class="attendees__avatar__image" />
							</a>
							<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/walterstephanie_128.jpg" alt="Attendee" class="attendees__avatar__image" />
							</a>
							<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/motherfuton_128.jpg" alt="Attendee" class="attendees__avatar__image" />
							</a>
							<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/cameronmoll_128.jpg" alt="Attendee" class="attendees__avatar__image" />
								<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/paul_irish_128.jpg" alt="Attendee" class="attendees__avatar__image" />
							</a>
							<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/gilbertglee_128.jpg" alt="Attendee" class="attendees__avatar__image" />
							</a>
							<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/jayman_128.jpg" alt="Attendee" class="attendees__avatar__image" />
							</a>
							<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/walterstephanie_128.jpg" alt="Attendee" class="attendees__avatar__image" />
							</a>
							<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/motherfuton_128.jpg" alt="Attendee" class="attendees__avatar__image" />
							</a>
							<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/cameronmoll_128.jpg" alt="Attendee" class="attendees__avatar__image" />
								<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/paul_irish_128.jpg" alt="Attendee" class="attendees__avatar__image" />
							</a>
							<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/gilbertglee_128.jpg" alt="Attendee" class="attendees__avatar__image" />
							</a>
							<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/jayman_128.jpg" alt="Attendee" class="attendees__avatar__image" />
							</a>
							<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/walterstephanie_128.jpg" alt="Attendee" class="attendees__avatar__image" />
							</a>
							<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/motherfuton_128.jpg" alt="Attendee" class="attendees__avatar__image" />
							</a>
							<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/cameronmoll_128.jpg" alt="Attendee" class="attendees__avatar__image" />
								<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/paul_irish_128.jpg" alt="Attendee" class="attendees__avatar__image" />
							</a>
							<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/gilbertglee_128.jpg" alt="Attendee" class="attendees__avatar__image" />
							</a>
							<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/jayman_128.jpg" alt="Attendee" class="attendees__avatar__image" />
							</a>
							<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/walterstephanie_128.jpg" alt="Attendee" class="attendees__avatar__image" />
							</a>
							<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/motherfuton_128.jpg" alt="Attendee" class="attendees__avatar__image" />
							</a>
							<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/cameronmoll_128.jpg" alt="Attendee" class="attendees__avatar__image" />
								<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/paul_irish_128.jpg" alt="Attendee" class="attendees__avatar__image" />
							</a>
							<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/gilbertglee_128.jpg" alt="Attendee" class="attendees__avatar__image" />
							</a>
							<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/jayman_128.jpg" alt="Attendee" class="attendees__avatar__image" />
							</a>
							<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/walterstephanie_128.jpg" alt="Attendee" class="attendees__avatar__image" />
							</a>
							<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/motherfuton_128.jpg" alt="Attendee" class="attendees__avatar__image" />
							</a>
							<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/cameronmoll_128.jpg" alt="Attendee" class="attendees__avatar__image" />
								<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/paul_irish_128.jpg" alt="Attendee" class="attendees__avatar__image" />
							</a>
							<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/gilbertglee_128.jpg" alt="Attendee" class="attendees__avatar__image" />
							</a>
							<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/jayman_128.jpg" alt="Attendee" class="attendees__avatar__image" />
							</a>
							<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/walterstephanie_128.jpg" alt="Attendee" class="attendees__avatar__image" />
							</a>
							<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/motherfuton_128.jpg" alt="Attendee" class="attendees__avatar__image" />
							</a>
							<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/cameronmoll_128.jpg" alt="Attendee" class="attendees__avatar__image" />
								<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/paul_irish_128.jpg" alt="Attendee" class="attendees__avatar__image" />
							</a>
							<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/gilbertglee_128.jpg" alt="Attendee" class="attendees__avatar__image" />
							</a>
							<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/jayman_128.jpg" alt="Attendee" class="attendees__avatar__image" />
							</a>
							<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/walterstephanie_128.jpg" alt="Attendee" class="attendees__avatar__image" />
							</a>
							<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/motherfuton_128.jpg" alt="Attendee" class="attendees__avatar__image" />
							</a>
							<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/cameronmoll_128.jpg" alt="Attendee" class="attendees__avatar__image" />
								<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/paul_irish_128.jpg" alt="Attendee" class="attendees__avatar__image" />
							</a>
							<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/gilbertglee_128.jpg" alt="Attendee" class="attendees__avatar__image" />
							</a>
							<a href="#" class="attendees__avatar">
								<img src="http://uifaces.com/faces/_twitter/jayman_128.jpg" alt="Attendee" class="attendees__avatar__image" />
							</a>
						</div>
				</div>
			</div>

	</div>
</section>
<!-- /summary block -->

<!-- ad block -->
<section class="speaker-apply wrapper">
	<div class="speaker-apply__content">
		<span class="speaker-apply__content__text">Interested in speaking at Refresh Teesside? Let us know!</span>
		<a href="#" class="btn">Submit Talk Idea</a>
	</div>
</section>
<!-- /ad block -->

<!-- twitter block -->
<section class="twitter-feed wrapper">
	<div class="wrapper-inner">
		<h1 class="event__title event__title--center">Who's Talking About Refresh Teesside?</h1>
			<ul class="twitter-feed__tweet-list">
				<li class="twitter-feed__tweet media">
					<p class="twitter-feed__tweet__content">Nullam id dolor id nibh ultricies vehicula ut id elit. Praesent commodo cursus magna.</p>
					<div class="twitter-feed__tweet__user">
						<img src="http://placehold.it/100x100" alt="#" class="twitter-feed__tweet__user__avatar">
						<h1 class="twitter-feed__tweet__user__name">Sample User</h1>
							<span class="twitter-feed__tweet__user__handle">@sampleuser</span>
					</div>
				</li>
				<li class="twitter-feed__tweet media">
					<p class="twitter-feed__tweet__content">Nullam id dolor id nibh ultricies vehicula ut id elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
					<div class="twitter-feed__tweet__user">
						<img src="http://placehold.it/100x100" alt="#" class="twitter-feed__tweet__user__avatar">
						<h1 class="twitter-feed__tweet__user__name">Sample User</h1>
							<span class="twitter-feed__tweet__user__handle">@sampleuser</span>
					</div>
				</li>
				<li class="twitter-feed__tweet media">
					<p class="twitter-feed__tweet__content">Nullam id dolor id nibh ultricies vehicula ut id elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
					<div class="twitter-feed__tweet__user">
						<img src="http://placehold.it/100x100" alt="#" class="twitter-feed__tweet__user__avatar">
						<h1 class="twitter-feed__tweet__user__name">Sample User</h1>
							<span class="twitter-feed__tweet__user__handle">@sampleuser</span>
					</div>
				</li>
				<li class="twitter-feed__tweet media">
					<p class="twitter-feed__tweet__content">Nullam id dolor id nibh ultricies vehicula ut id elit. Praesent commodo cursus magna, vel scelerisque nisl.</p>
					<div class="twitter-feed__tweet__user">
						<img src="http://placehold.it/100x100" alt="#" class="twitter-feed__tweet__user__avatar">
						<h1 class="twitter-feed__tweet__user__name">Sample User</h1>
							<span class="twitter-feed__tweet__user__handle">@sampleuser</span>
					</div>
				</li>
				<li class="twitter-feed__tweet media">
					<p class="twitter-feed__tweet__content">#rftees</p>
					<div class="twitter-feed__tweet__user">
						<img src="http://placehold.it/100x100" alt="#" class="twitter-feed__tweet__user__avatar">
						<h1 class="twitter-feed__tweet__user__name">Sample User</h1>
							<span class="twitter-feed__tweet__user__handle">@sampleuser</span>
					</div>
				</li>
				<li class="twitter-feed__tweet media">
					<p class="twitter-feed__tweet__content">Nullam id dolor id nibh ultricies vehicula ut id elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
					<div class="twitter-feed__tweet__user">
						<img src="http://placehold.it/100x100" alt="#" class="twitter-feed__tweet__user__avatar">
						<h1 class="twitter-feed__tweet__user__name">Sample User</h1>
							<span class="twitter-feed__tweet__user__handle">@sampleuser</span>
					</div>
				</li>
			</ul>
	</div>
</section>
<!-- /twitter block -->

<!-- location block -->
<section class="location">
	<div class="location__map">
		<iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.co.uk/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Sassari+Restaurant,+Linthorpe+Road,+Middlesbrough&amp;aq=0&amp;oq=sassaris&amp;sll=42.35141,-71.076367&amp;sspn=0.047193,0.098362&amp;ie=UTF8&amp;hq=Sassari+Restaurant,&amp;hnear=Linthorpe+Rd,+Middlesbrough,+United+Kingdom&amp;t=m&amp;z=14&amp;iwloc=A&amp;cid=13792980612090029780&amp;ll=54.571325,-1.238528&amp;output=embed"></iframe><br /><small><a href="https://www.google.co.uk/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Sassari+Restaurant,+Linthorpe+Road,+Middlesbrough&amp;aq=0&amp;oq=sassaris&amp;sll=42.35141,-71.076367&amp;sspn=0.047193,0.098362&amp;ie=UTF8&amp;hq=Sassari+Restaurant,&amp;hnear=Linthorpe+Rd,+Middlesbrough,+United+Kingdom&amp;t=m&amp;z=14&amp;iwloc=A&amp;cid=13792980612090029780&amp;ll=54.571325,-1.238528" style="color:#0000FF;text-align:left">View Larger Map</a></small>
	</div>
	<div class="location__contact-details">
		<h1 class="event__title">Location</h1>
			<address class="location__contact-details__address">
				<span class="location__contact-details__address__item location__contact-details__address__item--venue">Sassari Restaurant</span>
				<span class="location__contact-details__address__item location__contact-details__address__item--street">193-195 Linthorpe Road</span>
				<span class="location__contact-details__address__item location__contact-details__address__item--town">Middlesbrough</span>
				<span class="location__contact-details__address__item location__contact-details__address__postcode">TS1 4AG</span>
				<span class="location__contact-details__address__item location__contact-details__address__item--tel">01642 218 600</span>
				<span class="location__contact-details__address__item location__contact-details__address__item--twitter"><a href="http://www.twitter.com/eatsassari">@eatsassari</a></span>
				<span class="location__contact-details__address__item location__contact-details__address__item--website"><a href="http://www.sasssarirestaurant.co.uk">www.sassarirestaurant.co.uk</a></span>
			</address>
	</div>
</section>
<!-- /location block -->

<!-- sponsor block -->
<section class="wrapper wrapper--sponsor">
	<div class="wrapper-inner">
		<h1 class="event__title event__title--center">Special Thanks to Our Sponsor</h1>
			<ul class="sponsor__sponsor-list">
				<li><a href="#">Sponsor</a></li>
			</ul>
	</div>
</section>
<!-- /sponsor block -->

<!-- footer block -->
<footer class="site-footer">

</footer>
<!-- /footer block -->
