/*
 * _layout.sass
 * Author: Timothy Gale
 * Date: 19/07/13
 *
 * Define all structural layout elements.
 */

body
	position: relative

/* 
 * site header 
 */

.site-header
	position: fixed
	top: 0
	width: 100%
	z-index: 1

/* 
 * site brand 
 */

.site-brand
	position: absolute
	top: -140px
	left: 50%
	margin: 0 0 0 -150px
	font-size: 3rem
	color: $secondary-color
	text-transform: none
	+border-radius(200)

.site-brand span
	display: none

/*
 * site navigation
 */

// example markup

// <nav class="site-nav">
// 	<ul>
//  		<li class="site-nav__item"><a href="#">Home</a></li>
// 	</ul>
// </nav>

.site-nav
	@extend .clearfix
	width: 100%
	background: $secondary-color
	padding: $narrow-spacing 0

.site-nav__left, .site-nav__right
	width: 38%
	padding: 0

.site-nav__left
	@extend .float-left
	padding: 0 11% 0 0

.site-nav__right
	@extend .float-right
	padding: 0 0 0 11%

.site-nav__item-wrapper--left
	@extend .float-right

.site-nav__item-wrapper--right
	@extend .float-left

.site-nav__item
	@extend .float-left
	margin: $narrow-spacing $wide-spacing * 1.5 $narrow-spacing $narrow-spacing

.site-nav__item:nth-of-type(2)
	margin: $narrow-spacing 0 $narrow-spacing $narrow-spacing

.site-nav__item:nth-of-type(1)
	margin: $narrow-spacing $wide-spacing * 1.5 $narrow-spacing 0

.site-nav__item a
	font-family: $primary-sans-serif
	letter-spacing: 1px
	font-size: 1.2rem
	color: $quarternary-color
	text-decoration: none
	text-transform: uppercase

/*
 * site hero
 */

.site-hero
	padding: $wide-spacing * 6 0 0 0
	margin: 0 0 $wide-spacing * 13 0

/*
 * grids
 */

.grid-wrapper
	@extend .clearfix
	width: 100%
	margin: 0 auto

.grid
	@extend .float-left

.grid--one
	width: 22%

.grid--two
	width: 50%

.grid--three
	width: 70%
	margin: 0 5% 0 0
	
.grid--four
	width: 100%

/*
 * footer
 */

.site-footer