/*
 * _typography.css.sass
 * Author: Timothy Gale
 * Date: 19/07/13
 *
 * Define typographical properties for the project.
 */

// $primary-sans-serif: sans-serif

body
	:font-size 62.5% // define global font size as 62.5% - 1rem = 10px

// headings
h1, h2, h3, h4, h5, h6
	:font-family $primary-sans-serif

h1
	:line-height 1.5em

h2
	:line-height 1.5em

h3
	:line-height 1.5em

h4
	:line-height 1.5em

h5
	:line-height 1.5em

h6
	:line-height 1.5em