%nav.site-nav
  %ul.site-nav__left
    .site-nav__item-wrapper.site-nav__item-wrapper--left
      %li.site-nav__item
        = link_to "Home", root_url
      %li.site-nav__item
        = link_to "About", abouts_path
  %ul.site-nav__right
    .site-nav__item-wrapper.site-nav__item-wrapper--right
      %li.site-nav__item
        = link_to "Register"
      %li.site-nav__item
        = link_to "Contact", new_message_path